<div class="clase principal">
<div class="contenedor">
  <div class="columna-izquierda">
    <form class="sales-form">
      <h3>Ventas</h3>

       <!-- <mat-form-field >
            <mat-label>Buscar Venta</mat-label>
            <input matInput placeholder="venta">
          </mat-form-field> -->
          <mat-form-field>
            <mat-label>Establecimientos</mat-label>
            <mat-select [(value)]="selectedEstablecimiento">
              <mat-option *ngFor="let establecimiento of establecimientos" [value]="establecimiento">
                {{ establecimiento }}
              </mat-option>
            </mat-select>
          </mat-form-field>


      <div class="form-group">
        <label>Numero de factura</label>
        <input type="text" name="nombreComercial">
      </div>
      <div class="form-group">
        <label>Fecha de Emisión</label>
        <input type="date" name="fechaEmision">
      </div>
      <mat-form-field appearance="fill">
        <mat-label>Trabajador</mat-label>
        <mat-select [formControl]="myControl">
          <mat-option *ngFor="let trabajador of options" [value]="trabajador">
            {{ trabajador.nombre }} {{ trabajador.apellido }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <div class="form-group">
        <label for="cliente">Cliente</label>
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Buscar Cliente</mat-label>
          <input type="text" matInput [formControl]="myControl" [matAutocomplete]="auto">
          <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selectOption($event.option.value)">
            <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
              {{ option.nombre }} {{ option.apellido }}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </div>

      <div class="form-group" *ngIf="selectedCliente">
        <label for="identificacion">Identificación</label>
        <input type="text" id="identificacion" class="form-control" [value]="selectedCliente.identificacion" disabled>
      </div>

      <div class="form-group" *ngIf="selectedCliente">
        <label for="tipoIdentificacion">Tipo de Identificación</label>
        <input type="text" id="tipoIdentificacion" class="form-control" [value]="selectedCliente.tipoIdentificacion" disabled>
      </div>

      <!-- Agrega los demás campos del formulario para mostrar los datos del cliente seleccionado -->


      <div class="form-group">
        <button type="button" mat-raised-button color="primary" (click)="toggleForm()">Nuevo Cliente</button>
        <form [formGroup]="formulario" *ngIf="mostrarFormulario" (ngSubmit)="submitForm()">
          <mat-form-field>
            <mat-label>identificacion</mat-label>
            <input matInput formControlName="identificacion" required>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Tipo de Identificación</mat-label>
            <mat-select formControlName="tipoIdentificacion">
              <mat-option value="cedula">Cédula</mat-option>
              <mat-option value="pasaporte">Pasaporte</mat-option>
              <mat-option value="ruc">RUC</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field>
            <mat-label>Nombre</mat-label>
            <input matInput formControlName="nombre" required>
          </mat-form-field>

          <mat-form-field>
            <mat-label>Apellido</mat-label>
            <input matInput formControlName="apellido" required>
          </mat-form-field>

          <mat-form-field>
            <mat-label>Dirección</mat-label>
            <input matInput formControlName="direccion" required>
          </mat-form-field>

          <mat-form-field>
            <mat-label>Teléfono</mat-label>
            <input matInput formControlName="telefono" required>
          </mat-form-field>

          <mat-form-field>
            <mat-label>Celular</mat-label>
            <input matInput formControlName="celular" required>
          </mat-form-field>

          <mat-form-field>
            <mat-label>Correo Electrónico</mat-label>
            <input matInput formControlName="correoElectronico" required>
          </mat-form-field>

          <button mat-raised-button color="primary" type="submit">Guardar</button>
        </form>

      </div>
      <form class="example-form" (keydown.enter)="$event.preventDefault()">
        <mat-form-field class="example-full-width">
          <mat-label>Producto</mat-label>
          <input matInput [formControl]="myControl" [matAutocomplete]="auto">
          <mat-icon matPrefix>search</mat-icon>
          <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
            <mat-option *ngFor="let option of filteredOptions | async" [value]="option" (click)="selectOption(option)">
              {{ option.identificacion }}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </form>

      <div class="form-group">
        <label>Cantidad</label>
        <input type="number" name="cantidad">
      </div>
      <div class="form-group">
        <button class="btn" mat-raised-button color="primary">Guardar Producto</button>
      </div>
    </form>
  </div>
  <!-- Contenido de la columna derecha -->
  <div class="columna-derecha">


      <div class="form-group">
        <label>Subtotal sin impuestos:</label>
        <input type="text" name="subTotalSIN" >
      </div>
      <div class="form-group">
        <label>subTotal 12%</label>
        <input type="text" name="nombreComercial">
      </div>
      <div class="form-group">
        <label>subTotal 0%</label>
        <input type="text" name="nombreComercial">
      </div>
      <div class="form-group">
        <label>subTotal no objeto a iva</label>
        <input type="text" name="nombreComercial">
      </div>
      <div class="form-group">
        <label>subTotal excento de iva</label>
        <input type="text" name="nombreComercial">
      </div>
      <div class="form-group">
        <label>subTotal</label>
        <input type="text" name="nombreComercial">
      </div>
      <div class="form-group">
        <label>IVA 12%</label>
        <input type="text" name="nombreComercial">
      </div>
      <div class="form-group">
        <label>Propina 10%</label>
        <input type="text" name="nombreComercial">
      </div>
      <div class="form-group">
        <label>Valor total:</label>
        <input type="text" name="nombreComercial">
      </div>


  </div>
  </div>
  <div class="impuestos-container">
    <!-- Contenido de los impuestos -->
  </div>
  <div class="table-container">
    <h3>Detalles del producto</h3>
    <table mat-table [dataSource]="data"  class="mat-elevation-z8">
      <!-- Columna de identificación -->
      <ng-container matColumnDef="cantidad">
        <th mat-header-cell *matHeaderCellDef> Cantidad </th>
        <td mat-cell *matCellDef="let element"> {{element.cantidad}} </td>
      </ng-container>

      <!-- Columna de nombre -->
      <ng-container matColumnDef="descripcion">
        <th mat-header-cell *matHeaderCellDef> Descripcion </th>
        <td mat-cell *matCellDef="let element"> {{element.descripcion}} </td>
      </ng-container>

      <!-- Columna de apellido -->
      <ng-container matColumnDef="precioU">
        <th mat-header-cell *matHeaderCellDef> Precio Unitario </th>
        <td mat-cell *matCellDef="let element"> {{element.precioU}} </td>
      </ng-container>

      <!-- Columna de dirección -->
      <ng-container matColumnDef="tarifa">
        <th mat-header-cell *matHeaderCellDef> Tarifa </th>
        <td mat-cell *matCellDef="let element"> {{element.tarifa}} </td>
      </ng-container>

      <!-- Columna de teléfono -->
      <ng-container matColumnDef="descuento">
        <th mat-header-cell *matHeaderCellDef> Descuento </th>
        <td mat-cell *matCellDef="let element"> {{element.descuento}} </td>
      </ng-container>

      <!-- Columna de celular -->
      <ng-container matColumnDef="valorT">
        <th mat-header-cell *matHeaderCellDef> Valor Total </th>
        <td mat-cell *matCellDef="let element"> {{element.valorT}} </td>
      </ng-container>



      <!-- Columna de acciones -->
      <ng-container matColumnDef="acciones">
        <th mat-header-cell *matHeaderCellDef> Acciones </th>
        <td mat-cell *matCellDef="let element">
          <button mat-icon-button color="primary" (click)="editarElemento(element)">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button color="warn" (click)="eliminarElemento(element)">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <!-- Encabezados de columna -->
      <tr mat-header-row *matHeaderRowDef="columnas"></tr>

      <!-- Filas de datos -->
      <tr mat-row *matRowDef="let row; columns: columnas;"></tr>
    </table>


  </div>
</div>
