<div>
<div class="contenedor">
  <div class="columna-izquierda">
    <form class="sales-form">
      <h3>Ventas</h3>
      <h3>No:
        
        <mat-form-field>
            <mat-label>Buscar </mat-label>
            <input matInput placeholder="venta">
          </mat-form-field>
      </h3>
      <div class="form-group">
          <label>Establecimiento</label>
          <select name="establecimiento">
            <option value="">Seleccione un establecimiento</option>
            <option value="establecimiento1">Establecimiento 1</option>
            <option value="establecimiento2">Establecimiento 2</option>
            <option value="establecimiento3">Establecimiento 3</option>
          </select>
      </div>
      <div class="form-group">
        <label>Nombre Comercial</label>
        <input type="text" name="nombreComercial">
      </div>
      <div class="form-group">
        <label>Fecha de Emisión</label>
        <input type="date" name="fechaEmision">
      </div>
      <div class="form-group">
        <label>Trabajador</label>
        <input type="text" name="trabajador">
      </div>
      <div class="form-group">
        <label>Cliente</label>
        <input type="text" name="cliente">
      </div>
      <div class="form-group">
        <button type="button" mat-raised-button color="primary" (click)="toggleForm()">Nuevo Cliente</button>
        <form [formGroup]="formulario" *ngIf="mostrarFormulario" (ngSubmit)="submitForm()">
          <mat-form-field>
            <mat-label>identificacion</mat-label>
            <input matInput formControlName="identificacion" required>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Nombre</mat-label>
            <input matInput formControlName="nombre" required>
          </mat-form-field>
        
          <mat-form-field>
            <mat-label>Apellido</mat-label>
            <input matInput formControlName="apellido" required>
          </mat-form-field>
        
          <mat-form-field>
            <mat-label>Dirección</mat-label>
            <input matInput formControlName="direccion" required>
          </mat-form-field>
        
          <mat-form-field>
            <mat-label>Teléfono</mat-label>
            <input matInput formControlName="telefono" required>
          </mat-form-field>
        
          <mat-form-field>
            <mat-label>Celular</mat-label>
            <input matInput formControlName="celular" required>
          </mat-form-field>
        
          <mat-form-field>
            <mat-label>Correo Electrónico</mat-label>
            <input matInput formControlName="correoElectronico" required>
          </mat-form-field>
        
          <button mat-raised-button color="primary" type="submit">Guardar</button>
        </form>
          
      </div>
      <div class="form-group">
        <label>Buscar Producto</label>
        <input type="text" name="buscarProducto">
      </div>
      <div class="form-group">
        <label>Cantidad</label>
        <input type="number" name="cantidad">
      </div>
      <div class="form-group">
        <button class="btn" mat-raised-button color="primary">Guardar Producto</button>
      </div>
    </form>
  </div>
  <!-- Contenido de la columna derecha -->
  <div class="columna-derecha">
    
      <div class="form-group">
        <label>Subtotal sin impuestos:</label>
        <input type="text" name="subTotalSIN" >
      </div>
      <div class="form-group">
        <label>subTotal 12%</label>
        <input type="text" name="nombreComercial">
      </div>
      <div class="form-group">
        <label>subTotal 0%</label>
        <input type="text" name="nombreComercial">
      </div>
      <div class="form-group">
        <label>subTotal no objeto a iva</label>
        <input type="text" name="nombreComercial">
      </div>
      <div class="form-group">
        <label>subTotal excento de iva</label>
        <input type="text" name="nombreComercial">
      </div>
      <div class="form-group">
        <label>subTotal</label>
        <input type="text" name="nombreComercial">
      </div>
      <div class="form-group">
        <label>IVA 12%</label>
        <input type="text" name="nombreComercial">
      </div>
      <div class="form-group">
        <label>Propina 10%</label>
        <input type="text" name="nombreComercial">
      </div>
      <div class="form-group">
        <label>Valor total:</label>
        <input type="text" name="nombreComercial">
      </div>
   
   
  </div>
  </div>
  <div class="impuestos-container">
    <!-- Contenido de los impuestos -->
  </div>
  <div class="table-container">
    <h3>Detalles del producto</h3>
    <table mat-table [dataSource]="data"  class="mat-elevation-z8">
      <!-- Columna de identificación -->
      <ng-container matColumnDef="cantidad">
        <th mat-header-cell *matHeaderCellDef> Cantidad </th>
        <td mat-cell *matCellDef="let element"> {{element.cantidad}} </td>
      </ng-container>
    
      <!-- Columna de nombre -->
      <ng-container matColumnDef="descripcion">
        <th mat-header-cell *matHeaderCellDef> Descripcion </th>
        <td mat-cell *matCellDef="let element"> {{element.descripcion}} </td>
      </ng-container>
    
      <!-- Columna de apellido -->
      <ng-container matColumnDef="precioU">
        <th mat-header-cell *matHeaderCellDef> Precio Unitario </th>
        <td mat-cell *matCellDef="let element"> {{element.precioU}} </td>
      </ng-container>
    
      <!-- Columna de dirección -->
      <ng-container matColumnDef="tarifa">
        <th mat-header-cell *matHeaderCellDef> Tarifa </th>
        <td mat-cell *matCellDef="let element"> {{element.tarifa}} </td>
      </ng-container>
    
      <!-- Columna de teléfono -->
      <ng-container matColumnDef="descuento">
        <th mat-header-cell *matHeaderCellDef> Descuento </th>
        <td mat-cell *matCellDef="let element"> {{element.descuento}} </td>
      </ng-container>
    
      <!-- Columna de celular -->
      <ng-container matColumnDef="valorT">
        <th mat-header-cell *matHeaderCellDef> Valor Total </th>
        <td mat-cell *matCellDef="let element"> {{element.valorT}} </td>
      </ng-container>
    
    
    
      <!-- Columna de acciones -->
      <ng-container matColumnDef="acciones">
        <th mat-header-cell *matHeaderCellDef> Acciones </th>
        <td mat-cell *matCellDef="let element">
          <button mat-icon-button color="primary" (click)="editarElemento(element)">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button color="warn" (click)="eliminarElemento(element)">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>
    
      <!-- Encabezados de columna -->
      <tr mat-header-row *matHeaderRowDef="columnas"></tr>
    
      <!-- Filas de datos -->
      <tr mat-row *matRowDef="let row; columns: columnas;"></tr>
    </table>
   
   
  </div>
</div>