<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>
    
    <mat-nav-list>
      
      <a mat-list-item href="#"  >
        <div class="icono-y-texto">
          <img src="../../assets/img/productos.png" />
          <span>Productos</span>
        </div></a>
      <a mat-list-item href="#">
        <div class="icono-y-texto">
          <img src="../../assets/img/clientee.png" />
          <span>Clientes</span>
        </div>
      </a>
      <a mat-list-item href="#">
        <div class="icono-y-texto">
          <img src="../../assets/img/caja.png" />
          <span>Ventas</span>
        </div>
      </a>
      <a mat-list-item href="#">
        <div class="icono-y-texto">
          <img src="../../assets/img/factura.png" />
          <span>Facturacion</span>
        </div>
      </a>
      <a mat-list-item href="#">
        <div class="icono-y-texto">
          <img src="../../assets/img/config.png" />
          <span>Administracion</span>
        </div>
      </a>

    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Facturacion Electronica</span>
    </mat-toolbar>
    <app-principal-dash></app-principal-dash>
  </mat-sidenav-content>
</mat-sidenav-container>
