.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: rgb(65, 85, 173);

}
mat-sidenav{
  background: rgb(65, 85, 173);
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}
.icono-y-texto {
  display: flex;
  align-items: center;
}

.icono-y-texto img {
  margin-right: 5px; /* Espacio entre la imagen y el texto */
}


