<mat-tab-group>
    <mat-tab>
      <ng-template mat-tab-label>
        <img src="../../assets/img/firma.png" />
        Firma Electrónica
      </ng-template>
      <app-firma-electronica></app-firma-electronica>
    </mat-tab>
  
    <mat-tab>
      <ng-template mat-tab-label>
        <img src="../../assets/img/vendedor.png" />
        Vendedores
      </ng-template>
      <app-trabajador></app-trabajador>
    </mat-tab>
  
    <mat-tab>
      <ng-template mat-tab-label>
         <img src="../../assets/img/empresa.png" />
        Sucursales
      </ng-template>
      <app-sucursales></app-sucursales>
    </mat-tab>
  
    <mat-tab>
      <ng-template mat-tab-label>
         <img src="../../assets/img/productos.png" />
        Productos
      </ng-template>
      <app-productos></app-productos>
    </mat-tab>
  
    <mat-tab>
      <ng-template mat-tab-label>
        <img src="../../assets/img/factura.png" />
        Facturas
      </ng-template>
      <app-facturacion></app-facturacion>
    </mat-tab>
  </mat-tab-group>
  