<div class="container">
    <div >
<h2>Trabajador</h2>
      <h2>CI:
        <mat-form-field>
            <mat-label>Buscar </mat-label>
            <input matInput placeholder="Cliente">
          </mat-form-field>
      </h2>
      
      <button class="custom-button">Nuevo Trabajador</button>
      <h3>lista de Trabajadores</h3>
    </div>
    <div class="mat-elevation-z8">
        <table>
          <thead>
            <tr>
            
              <th>Nombre</th>
              <th>Apellido</th>
              <th>Dirección</th>
              <th>usuario</th>
              <th>contrasena</th>
              <th>Correo Electrónico</th>
              <th>Acciones</th>
            </tr>
          </thead>
          <tbody>
            <tr >
             
              <td>nombre</td>
              <td>apelido</td>
              <td>direccion</td>
              <td>usuario</td>
              <td>contrasena</td>
              <td>correo electronico</td>
              <td>
                <button  mat-icon-button color="primary"><mat-icon>edit</mat-icon></button>
                <button  mat-icon-button class="mat-warn"> <mat-icon>delete</mat-icon></button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      


  </div>
  