mat-card {
  background-color: rgb(178, 189, 235);
}

.nocolor {
  background-color: aliceblue;
  display: flex;
  align-items: center;
  

 
}

input[type="text"]
 {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.btn{
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}




.form-group {
  margin-bottom: 10px;
  margin: 30px;
}

.row {
  margin: 40px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.label-column {
  min-width: 100px;
  margin: 12px;
}

.input-column {
  flex-grow: 1;
}

.center {
  display: flex;
  justify-content: center;
}
