<mat-card>
  <mat-card-content>
    <div class="container">
      <h3>Perfil Empresa</h3>
    </div>
  </mat-card-content>
</mat-card>

<mat-card class="nocolor">
  <mat-card-content>
    <div class="container">
      <form class="sales-form">
        <div class="form-group">
          <div class="row">
            <div class="label-column">
              <label >Logo:</label>
            </div>
            <div class="input-column">
              <button mat-raised-button color="primary" class="btn">Subir archivo</button>
            </div>
          </div>
          <div class="row">
            <div class="label-column">
              <label>Nombre:</label>
            </div>
            <div class="input-column">
              <input type="text" matInput name="nombre">
            </div>
          </div>
          <div class="row">
            <div class="label-column">
              <label>Tipo Archivo:</label>
            </div>
            <div class="input-column">
              <input type="text" name="tipo_archivo">
            </div>
          </div>
          <div class="row">
            <div class="label-column">
              <label>Certificado:</label>
            </div>
            <div class="input-column">
              <button mat-raised-button color="primary" class="btn">Subir archivo</button>
            </div>
          </div>
          <div class="row">
            <div class="label-column">
              <label>Clave firma digital:</label>
            </div>
            <div class="input-column">
              <input type="text" name="clave_firma">
            </div>
          </div>
        </div>
        <div class="row">
          
        </div>
        <div class="form-group">
          <div class="center">
            <button mat-raised-button color="primary" class="btng">Guardar</button>
          </div>
        </div>
      </form>
    </div>
  </mat-card-content>
</mat-card>
