
.body{display: flex;
    justify-content: center;
    height: 50%;
    align-items: center;
    background-color: rgb(19, 8, 140);

}
.login{
    width: 50%;
    max-width: 3330px;
    text-align: center;

}
.ancho {
   width: 60%;
  }