
mat-form-field{
    width: 300px;

}

.container > div {
    margin: 30px;
   
  }
  
  .container {
    transform: scale(0.9);
    border: 2px solid black;
    overflow: auto;
  }
  
  .table-container {
    margin: 20px;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  table th,
  table td {
    padding: 5px;
    text-align: left;
    border: 1px solid #ccc;
    margin: 40px;
  
  
  }
  
  .custom-button {
    background-color: #300aae; /* Color de fondo deseado */
    color: #ffffff; /* Color del texto deseado */
    border: none;
    padding: 10px 20px;
    cursor: pointer;
  }
